<div class="section-heading">
    <h2>{{ programSection().sectionTitle }}</h2>
</div>
@if (programSection().relatedResults.length > 0) {
<div class="related-results">
    <app-program-results [section]="programSection()"></app-program-results>
</div>
}
@if (programSection().items.length > 0) {
<div class="section-list">
    <div class="section">
        @for (section of programSection().items; track section) {
        <div class="section-title">{{ section.title }}</div>
        <app-program-results [section]="section"></app-program-results>
        }
    </div>
</div>
}
