@use "../../variables";

.status-mark {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border: 3px solid variables.$border-color;
    overflow: visible;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .status-icon-placeholder {
        width: 0.85em;
        height: auto;
        filter: grayscale(50%);
    }
}

.status-icon {
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
