<div class="title-card">
    <h1>{{ title() || 'Хронология на обещанията' }}</h1>
    <div class="subtitle">
        Обещали са ви много по време на изборите? Да видим каква част от тези обещания ще бъдат изпълнени, кои са в процес на изпълнение и кои са просто лъжи.
    </div>
</div>

<main class="container">
    @if (programItems().length > 0) {
    <div class="program-list">
        @for (item of programItems(); track item.id) {
        <app-program-item [programItem]="item"></app-program-item>
        }
    </div>
    }
</main>

<router-outlet />
