/* You can add global styles to this file, and also import other style files */

$primary-color: #698f3f;
$secondary-color: #701433;
$background-color: #f7f3ed;
$paper-color: #ffffff;
$text-color: #0a122a;
$border-color: #f3f3f3;
