$primary: #3a5235;
$secondary: #da8d00;
$light-primary: #b2f0b4;
$gray: #888;
$light-gray: #fafafa;
$dark-gray: #212529;

$font-family: 'Inter Tight', -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
