/* You can add global styles to this file, and also import other style files */

$primary-color: #698F3F;
$secondary-color: #701433;
$background-color: #FBFAF8;
$text-color: #0A122A;
$border-color: #EFEFEF;
